.song-card {
    background-color: #121212;
    padding: 16px;
    border-radius: 5%;
    border: 1px solid white;

    width: 192px;
    gap: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 192px;
        height: 192px;
        border-radius: 5%;
        object-fit: cover;
    }

    .bottom {
        display: flex;
        justify-content: space-between;

        .info {
            flex: 2;
            color: white;
        }

        .play-button {
            flex: 1;
            padding: 0px;
            margin: 0px;
            align-self: center;
        }
    }

}